<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>案例中心</title>
		<link rel="stylesheet" href=../static/css/case.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="" id = "logo">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<div class="animation">
	
<div class="top-pic"></div>
<div class="main">
	<div class="center">
		<div class="commom-header">
	<h3 class="commom-title">案例中心</h3>
</div>
	</div>
	<ul class="list">
		<li class="case-item">
	<div class="center">
		
		<div class="ov">
			<img src="../static/public/images/case/item_0.png" alt="" class = "item-pic">
			
				<p class="ov-title">实体企业赊销管理</p>
			
			
				<p class="info">A企业主要从事产品生产及销售，在宏观经济环境下行、外部竞争者不断涌入的大环境下，行业赊销情况严重。</p>
			
				<p class="info">由于缺乏必要的风控手段和工具，对交易对手往往通过销售团队找朋友打听、根据资产实力或经营规模进行粗浅的信用判断。然而，中小企业抗风险能力弱，即使上市公司也时有债务违约、破产清算的情况发生，因此应收账款拖欠及坏账问题严重侵蚀年度利润。感觉辛辛苦苦干一年，赚的钱都在别人口袋里。后知晓云透镜团队有多年供应链金融及银行授信审批经验，可为实体企业提供赊销业务的数据风控服务，遂引入合作。</p>
			
				<p class="info">云透镜帮助企业就目前存量合作客户进行批量资质筛查，根据风险评估建议，优秀企业维持，一般企业审慎，较差企业不予赊销，将有限的资金向优质合作伙伴聚合，有效降低坏账风险。同时，对新合作伙伴进行赊销前的资质审查，形成一套内部管理决策机制，有效剔除人为主观因素;  最后，就合作中的企业启动云眼监控，如有风险及时提示A企业，以便快速调整合作政策。经过一段时间的合作，A企业的应收账款坏账率大大低于行业平均水平。</p>
			
			<p class="b-title"> A企业感言：经过与云透镜合作，我们公司的应收账款坏账率大幅降低，原来因为赊销坏账占用的资金，我们现在可以用来寻找更优质的合作伙伴，或者给我们的优质客户更多优惠价格，市场竞争力增强不少。</p>
		</div>
	</div>
</li>
		<li class="case-item">
	<div class="center">
		
		<div class="ov">
			<img src="../static/public/images/case/item_1.png" alt="" class = "item-pic">
			
				<p class="ov-title">金融机构风险管理</p>
			
			
				<p class="info">B银行面临传统抵押类贷款业务的竞争越来越激烈，管理层决定拓展小额信用消费贷款及小微企业信用经营贷款业务。</p>
			
				<p class="info">但是，由于缺乏风险评估模型、信用决策系统及专业信贷团队，经营效率低下、快速扩张市场又担心产生批量信贷风险，后知晓云透镜团队有10多年国内知名金融机构的信贷风控及数据建模经验，曾经操作过多起数据风控项目，遂引入合作。</p>
			
				<p class="info">云透镜根据B银行市场环境、产品体系及团队经验，组合内外数据资源、引入数据决策引擎、搭建数据风控平台，从产品、经营、财务、涉诉、征信等多个维度为A银行定制化开发了贷前审核、贷中监控及贷后催收风控模型，通过“企业透镜”、“个人透镜”、“云眼监控”等精准、快速、动态识别客户风险，为A银行的业务发展筑起一道有效的风险防火墙。</p>
			
			<p class="b-title">B银行感言：经过与云透镜合作，我们行的信用贷款坏账率大幅降低，审批效率快速提高，增强了市场竞争力。</p>
		</div>
	</div>
</li>
		<li class="case-item">
	<div class="center">
		
		<div class="ov">
			<img src="../static/public/images/case/item_2.png" alt="" class = "item-pic">
			
				<p class="ov-title">个人用户求职管理</p>
			
			
				<p class="info">小C是一名即将走出校园的大四毕业生，网上流传的大学生应聘陷入传销陷阱、企业拖欠数月工资老板失联等信息，让正在找工作的他十分苦恼。如何找到一家合适自己且稳定经营的企业?</p>
			
				<p class="info">朋友给他推荐了云透镜微信小程序，只要简单输入想要应聘的企业名称，就可以查询到专业机构对这家企业的分析评价，还有经营期限、所处行业、是否合法经营、有无行政处罚、之前招聘的岗位及薪资水平等信息，企业情况一目了然。</p>
			
				<p class="info">小C用云透镜查询了5家感兴趣的企业，筛选出3家经营稳定、信用良好的企业投递简历，并最终拿到了offer，比周边同学更快地找到一份好工作。</p>
			
			<p class="b-title">小C感言：我现在已经开始上班了。公司每月按时发工资，我就专注于发挥所长、不断学习就好，谢谢云透镜!</p>
		</div>
	</div>
</li>
		<li class="case-item">
	<div class="center">
		
		<div class="ov">
			<img src="../static/public/images/case/item_3.png" alt="" class = "item-pic">
			
				<p class="ov-title">企业用户发票验真</p>
			
			
				<p class="info">D企业年销售额超过1亿元，员工有5000多名，每月财务经手的供应商发票、员工差旅报销发票数千张。为保证发票真实性，每张发票都需要财务人员逐字逐项地手工录入发票信息，在税局网站作验真查询，为此，企业专门安排2名工作人员经办此业务。但是，因为工作繁琐枯燥，经常加班，这个岗位离职率偏高。为此，财务总监烦恼不已。</p>
			
				<p class="info">朋友给财务总监推荐了云透镜的发票验真服务，只要将发票逐张拍照后批量上传，可一次性查询发票真实性。不仅如此，每张发票的号码、销方信息、开票金额、税率、货物等几乎所有发票信息都可识别，比单纯扫描二维码识别的信息要齐全完备，为D企业日后存档分析提供了很大便利。同时，为防止开票方在开票后一段时间内作废该发票给企业造成损失，D企业还采用了发票监控功能，如某张发票作废，云透镜会及时进行预警。</p>
			
				<p class="info">D企业通过使用云透镜发票验真功能，目前只安排一名工作人员用一半的工作时间即可完成原来两人的工作量，大幅节省了人力成本，而且员工在保证工作质量的同时可以抽身出来尝试新的财务工作，人员稳定性也增强了。</p>
			
			<p class="b-title">D企业感言：云透镜让我们企业节省了人力成本，将人才用到更重要的岗位上，实实在在地把人工智能和大数据技术带到了我们身边!</p>
		</div>
	</div>
</li>
		<li class="case-item">
	<div class="center">
		
		<div class="ov">
			<img src="../static/public/images/case/item_4.png" alt="" class = "item-pic">
			
				<p class="ov-title">个人用户名片管理</p>
			
			
				<p class="info">小E是一名销售经理，每天要么接触很多客户获取一堆名片，虽然有好几本名片夹，但真要联系某个客户时费时费力，不便查找;要么加了很多微信，工作生活分不开不说，而且信息不全面，客户姓名和微信ID对不上，就更不用说任职的企业及岗位信息了。</p>
			
				<p class="info">这时朋友给小E推荐了云透镜名片扫描功能，只要简单扫描或在相册中导入名片照片，就可以轻松存储名片信息，而且还可以延伸查询云透镜对客户任职企业的风险分析及详细信息。</p>
			
				<p class="info">自从使用了云透镜的名片管理功能，小E有了专属的名片数据库，再也不用为查找客户电话号码、任职公司及职务等信息而烦恼了。而且，通过链接企业透镜功能，对名片上的企业一键查询后快速了解信息，也为他的精准营销助力不少。</p>
			
			<p class="b-title">小E感言：云透镜让我的名片库随身携带、随时使用，十分方便，而且能快速了解合作伙伴信息，给我的工作生活带来很大帮助。</p>
		</div>
	</div>
</li>
	</ul>
</div>
</div>
<!-- footer-nav栏 -->
<div class="footer">
	<div class="center">
		<div class="left">
			<div class="link-box">
				<img src="../static/public/images/commom/link-icon.png" alt="" class="link-icon">
				<div class="sjx-icon"></div>
				<ul class="link-list">
					
						<li class="item">
							<a href=./index.html class = "link">网站首页</a>
						</li>
					
						<li class="item">
							<a href=./about.html class = "link">关于我们</a>
						</li>
					
						<li class="item">
							<a href=./news.html class = "link">新闻动态</a>
						</li>
					
						<li class="item">
							<a href=./about.html?type=4 class = "link">联系我们</a>
						</li>
					
				</ul>
			</div>
			<div class="phone-box">
				<h3 class="title">服务热线:</h3>
				<div class="phone">
					<img src="../static/public/images/commom/phone-icon.png" alt="" class="phone-icon">
					<p class="info">400-602-0019</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="r-left">
				<div class="gz">
					<p class = "gz-info">关注我们：</p>
					<img src="../static/public/images/commom/xcx-icon.png" alt="" class="wb">
					<img src="../static/public/images/commom/gzh-icon.png" alt="" class="wx">
				</div>
				<p class="address">公司地址：深圳市南山区南山街道向南社区南山大道1153号天源大厦A栋408</p>
				<p class="mail">公司邮箱：YTJ@yuntoujing.cn</p>
			</div>
		</div>
	</div>
	<div class="link-info">
		<a class = "info center" href="./a">Copyright©2019 Coordinate Financial Services.All Rights Reserved. 粤ICP备18138710号-1</a>
	</div>
</div>

<!-- 加载的js -->
	
		<script src=../static/js/jquery-3.3.1.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/swiper-3.4.2.jquery.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/case.js type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>
