<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>云透镜</title>
		<link rel="stylesheet" href=../static/css/index.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<!-- center内容 -->
<div class="swiper-container" id="banner">
	<div class="swiper-wrapper">
		
		<div class="swiper-slide">
			<img src=../static/public/images/index/banner_0.png alt="" class="banner-img">
		</div>
		
		<div class="swiper-slide">
			<img src=../static/public/images/index/banner_1.png alt="" class="banner-img">
		</div>
		
		<div class="swiper-slide">
			<img src=../static/public/images/index/banner_2.png alt="" class="banner-img">
		</div>
		
		<div class="swiper-slide">
			<img src=../static/public/images/index/banner_3.png alt="" class="banner-img">
		</div>
		
		<div class="swiper-slide">
			<img src=../static/public/images/index/banner_4.png alt="" class="banner-img">
		</div>
		
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="lev-0">
	<div class="center">
		<div class="title">产品服务</div>
		<div class="hint">Productions & Services</div>
		<ul class="toggle" id="lev_0_toggle">
			
			<li class="item">产品系列</li>
			
			<li class="item">服务方式</li>
			
			<li class="item">客户体验</li>
			
		</ul>
		<ul class="a_toggle">
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img0.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">手机端查询</h3>
					<p class="text">微信关注“云透镜”小程序，随时随地使用企业透镜、智能透镜查询所需信息，获取专业风控意见 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img1.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">企业套餐服务</h3>
					<p class="text">通过API接口或使用我司云策系统在电脑端查询。根据企业经营情况灵活配置产品套餐 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img2.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">企业定制化咨询</h3>
					<p class="text">根据企业实际业务需求，由业内资深风控、数据、技术等方面的专家，为企业提供定制 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
		</ul>
	</div>
</div>
<div class="lev-1">
	<div class="center">
		<div class="title">案例中心</div>
		<div class="hint">ase center</div>
	</div>
	<div class="center" id="ss">
		<div class="swiper-container a_toggle center" id = "swiper-lev">
			<div class="swiper-wrapper">
				
				<div class="item">
					<img src=../static/public/images/index/lev_1_img0.png class="img" />
					<div class="info">实体企业赊销管理</div>
				</div>
				
				<div class="item">
					<img src=../static/public/images/index/lev_1_img1.png class="img" />
					<div class="info">金融机构风险管理</div>
				</div>
				
				<div class="item">
					<img src=../static/public/images/index/lev_1_img2.png class="img" />
					<div class="info">个人用户求职管理</div>
				</div>
				
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination-lev"></div>
			<!-- 如果需要导航按钮 -->
		</div>
			<img src="../static/public/images/index/left-icon.png" alt="" id = "left">
			<img src="../static/public/images/index/right-icon.png" alt="" id ="right">		
	</div>
</div>
<div class="lev-2">
	<div class="center">
		<div class="title">新闻资讯</div>
		<div class="hint">News and Information</div>
		<ul class="toggle">
			
			<li class="item">公司新闻</li>
			
			<li class="item">行业新闻</li>
			
		</ul>
		<div class="center ov">
			<div class="left">
				<img src="../static/public/images/index/lev_2_pic.png" alt="" class="pic">
				<h3 class="lev2-title">我国大数据风险管理不容忽视</h3>
				<div class="lev-2-item">
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">12-10</div>
					</div>
					<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面,大数据风险管理的。</div>
				</div>
			</div>
			<div class="right">
				<div class="lev-2-item">
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">12-10</div>
					</div>
					<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面,大数据风险管理的。</div>
				</div>
				<div class="lev-2-item">
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">12-10</div>
					</div>
					<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面,大数据风险管理的。</div>
				</div>
				<div class="lev-2-item">
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">12-10</div>
					</div>
					<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面,大数据风险管理的。</div>
				</div>
			</div>
		</div>
		<div class="btn">READ MORE</div>
	</div>
</div>
<div class="lev-3">
	<div class="center">
		<div class="title">公司简介</div>
		<div class="hint">Compan s Profile</div>
		<div class="center bg">
			<ul class="toggle">
				
				<li class="item">产品系列</li>
				
				<li class="item">服务方式</li>
				
				<li class="item">客户体验</li>
				
			</ul>
			<div class="ov">
				<div class="left">
					<h3 class="lev-3-title">公司简介</h3>
					<p class="lev-3-hint">Company</p>
					<div class="info">深圳市云透镜科技有限公司致力于为企业及个人在赊销、借贷、投资、招聘、求职等领域提供数据风控服务，以减少社会交易成本，提高社会信用度、透明度。我们的目标是通过“云透镜”成为您身边最可信赖的风控卫士。</div>
					<div class="btn">MORE</div>
				</div>
				<img src="../static/public/images/index/lev_3_pic.png" alt="" class="right">
			</div>
		</div>
	</div>
</div>

<!-- footer-nav栏 -->
<div class="footer">
	<div class="center">
		<div class="left">
			<div class="link-box">
				<img src="../static/public/images/commom/link-icon.png" alt="" class="link-icon">
				<ul class="link-list">
					
						<li class="item">
							<a href=./index.html class = "link">网站首页</a>
						</li>
					
						<li class="item">
							<a href=./about.html class = "link">关于我们</a>
						</li>
					
						<li class="item">
							<a href=./news.html class = "link">新闻动态</a>
						</li>
					
						<li class="item">
							<a href=./about.html class = "link">联系我们</a>
						</li>
					
				</ul>
			</div>
			<div class="phone-box">
				<h3 class="title">服务热线:</h3>
				<div class="phone">
					<img src="../static/public/images/commom/phone-icon.png" alt="" class="phone-icon">
					<p class="info">400-6020019</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="r-left">
				<div class="gz">
					<p class = "gz-info">关注我们：</p>
					<img src="../static/public/images/commom/wb-icon.png" alt="" class="wb">
					<img src="../static/public/images/commom/wx-icon.png" alt="" class="wx">
				</div>
				<p class="address">公司地址：深圳市前海深港合作区前湾一路1号A栋201</p>
				<p class="mail">公司邮箱：YTJ@yuntoujing.cn</p>
			</div>
			<div class="r-right">
				<img src="../static/public/images/commom/qr.png" alt="" class="qr">
				<p class="hint">扫一扫订阅号</p>
			</div>
		</div>
	</div>
	<div class="link-info">
		<a class = "info center" href="./a">Copyright©2016 Coordinate Financial Services.All Rights Reserved. 粤ICP备16008904号</a>
	</div>
</div>

<!-- 加载的js -->
	
		<script src=../static/js/jquery-3.3.1.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/swiper-3.4.2.jquery.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/index.js type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>
