<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>云透镜</title>
		<link rel="stylesheet" href=../static/css/index.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="" id = "logo">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<!-- center内容 -->
<div class="swiper-container" id="banner">
	<div class="swiper-wrapper">
		
		<div class="swiper-slide">
			<!-- <img src=../static/public/images/index/banner_0.png alt="" class="banner-img"> -->
			<div class="swiper-items"></div>
		</div>
		
		<div class="swiper-slide">
			<!-- <img src=../static/public/images/index/banner_1.png alt="" class="banner-img"> -->
			<div class="swiper-items"></div>
		</div>
		
		<div class="swiper-slide">
			<!-- <img src=../static/public/images/index/banner_2.png alt="" class="banner-img"> -->
			<div class="swiper-items"></div>
		</div>
		
		<div class="swiper-slide">
			<!-- <img src=../static/public/images/index/banner_3.png alt="" class="banner-img"> -->
			<div class="swiper-items"></div>
		</div>
		
		<div class="swiper-slide">
			<!-- <img src=../static/public/images/index/banner_4.png alt="" class="banner-img"> -->
			<div class="swiper-items"></div>
		</div>
		
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="lev-0">
	<div class="center">
		<div class="title">产品服务</div>
		<ul class="toggle" id="lev_0_toggle">
			
			<li class="item">服务内容</li>
			
			<li class="item">产品特色</li>
			
		</ul>
		<ul class="a_toggle" id = "lev-0-list">
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img0.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">手机端查询</h3>
					<p class="text">微信关注“云透镜”小程序，随时随地使用企业透镜、智能透镜查询所需信息，获取专业风控意见 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img1.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">企业套餐服务</h3>
					<p class="text">通过API接口或使用我司云策系统在电脑端查询。根据企业经营情况灵活配置产品套餐 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img2.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">企业定制化咨询</h3>
					<p class="text">根据企业实际业务需求，由业内资深风控、数据、技术等方面的专家，为企业提供定制 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
		</ul>
		<ul class="a_toggle" id = "lev-0-list1">
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img3.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">免费体验</h3>
					<p class="text">注册微信小程序即可免费获得透镜分，体验我们的数据风控服务; >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img4.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">分享有奖</h3>
					<p class="text">透镜分不足时，可充值或对外分享云透镜获取透镜分，如对方充值还可获得云币，>>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
			<li class="item">
				<div class="img-box">
					<img src=../static/public/images/index/lev_0_img5.png class="img" />
				</div>
				<div class="info">
					<h3 class="info-title">人工咨询</h3>
					<p class="text">如对信息庞杂、专业术语的云透镜分析报告不明白，有专业透镜分析师提供人工咨询 >>></p>
				</div>
				<div class="btn">
					<p class="btn-text">more</p>
				</div>
			</li>
			
		</ul>
	</div>
</div>
<div class="lev-1">
	<div class="center">
		<div class="title">案例中心</div>
	</div>
	<div class="center" id="ss">
		<div class="swiper-container a_toggle center" id="swiper-lev">
			<div class="swiper-wrapper">
				
				<div class="item swiper-slide">
					<a href="./case.html" class="link"></a>
					<div class="img-box">
						<img src=../static/public/images/index/lev_1_img3.png class="img" />
					</div>
					<div class="info">企业用户发票验证</div>
				</div>
				
				<div class="item swiper-slide">
					<a href="./case.html" class="link"></a>
					<div class="img-box">
						<img src=../static/public/images/index/lev_1_img0.png class="img" />
					</div>
					<div class="info">实体企业赊销管理</div>
				</div>
				
				<div class="item swiper-slide">
					<a href="./case.html" class="link"></a>
					<div class="img-box">
						<img src=../static/public/images/index/lev_1_img1.png class="img" />
					</div>
					<div class="info">金融机构风险管理</div>
				</div>
				
				<div class="item swiper-slide">
					<a href="./case.html" class="link"></a>
					<div class="img-box">
						<img src=../static/public/images/index/lev_1_img2.png class="img" />
					</div>
					<div class="info">个人用户求职管理</div>
				</div>
				
				<div class="item swiper-slide">
					<a href="./case.html" class="link"></a>
					<div class="img-box">
						<img src=../static/public/images/index/lev_1_img4.png class="img" />
					</div>
					<div class="info">个人用户名片管理</div>
				</div>
				
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination-lev"></div>
			<!-- 如果需要导航按钮 -->
		</div>
		<img src="../static/public/images/index/left-icon.png" alt="" id="left">
		<img src="../static/public/images/index/right-icon.png" alt="" id="right">
	</div>
</div>
<div class="lev-2">
	<div class="center">
		<div class="title">新闻资讯</div>
		<ul class="toggle" id="lev_2_nav">
			
			<li class="item">公司新闻</li>
			
			<li class="item">行业新闻</li>
			
		</ul>
		<div class="center ov">
			<div class="left">
				<div class="pic-box">
					<img src="../static/public/images/index/lev_2_pic1.png" alt="" class="pic">
				</div>
				<h3 class="lev2-title">山东和美集团供应链金融风控咨询服务项目启动</h3>
				<div class="lev-2-item" id="lev-2-item">
					<div class="time-box">
						<div class="year">2019</div>
						<div class="month">3-16</div>
					</div>
					<div class="item-info">2019年1月，云透镜风控专家与金蝶征信合作，为山东和美集团的供应链金融业务提供一系列的信贷操作</div>
				</div>
			</div>
			<div class="right">
				<div class="lev-2-item">
					<h3 class="lev2-title">云透镜与海尔集团旗下万链指数签署战略合作协议</h3>
					<div class="time-box">
						<div class="year">2019</div>
						<div class="month">3-16</div>
					</div>
					<div class="item-info">2019年3月，深圳市云透镜科技有限公司与万链指数(青岛)信息科技有限公司签署战略合作协议。</div>
				</div>
				<div class="lev-2-item">
					<h3 class="lev2-title">关于iPhone手机付费购买云透镜小程序的通知</h3>
					<div class="time-box">
						<div class="year">2019</div>
						<div class="month">1-25</div>
					</div>
					<div class="item-info">亲爱的用户，您好！云透镜小程序正式上线，目前只接受安卓手机的购买支付。</div>
				</div>
			</div>
		</div>
		<div class="center ov">
			<div class="left">
				<div class="pic-box">
					<img src="../static/public/images/index/lev_2_pic.png" alt="" class="pic">
				</div>
				<h3 class="lev2-title">我国大数据风险管理不容忽视</h3>
				<div class="lev-2-item" id="lev-2-item">
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">12-10</div>
					</div>
					<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面,大数据风险管理的。</div>
				</div>
			</div>
			<div class="right">
				<div class="lev-2-item">
					<h3 class="lev2-title">大数据应用于农业的十大案例</h3>
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">10-19</div>
					</div>
					<div class="item-info">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看，大数据正在...</div>
				</div>
				<div class="lev-2-item">
					<h3 class="lev2-title">互联网金融的风控必然以数据为核心</h3>
					<div class="time-box">
						<div class="year">2018</div>
						<div class="month">7-02</div>
					</div>
					<div class="item-info">互联网金融平台的风控应该围绕互联网特性展开，而互联网最大的特性就是数据，也就是大家常说的大数据。真正的互联网金...</div>
				</div>
			</div>
		</div>
		<div class="btn">READ MORE</div>
	</div>
</div>
<div class="lev-3">
	<div class="center">
		<div class="title">公司简介</div>
		<div class="center bg">
			<ul class="toggle" id="lev_3_nav">
				
				<li class="item">公司简介</li>
				
				<li class="item">团队介绍</li>
				
				<li class="item">商务合作</li>
				
			</ul>
			<div class="ov">
				<div class="left">
					<ul class="toggle-lev3">
						<li class="toggle-lev3-item active">
							<h3 class="lev-3-title">公司简介</h3>
							<div class="info">深圳市云透镜科技有限公司致力于为企业及个人在赊销、借贷、投资、招聘、求职等领域提供数据风控服务，以减少社会交易成本，提高社会信用度、透明度。我们的目标是通过“云透镜”成为您身边最可信赖的风控卫士。</div>
						</li>
						<li class="toggle-lev3-item">
							<h3 class="lev-3-title">团队介绍</h3>
							<div class="info">我们的团队来自于工商银行、招商银行、阿里巴巴、供应链金融、消费金融等国内知名金融、数据及技术机构，60%以上人员具备8年以上大中型项目贷款、中小企小微经营贷、消费信贷等授信审批经验。</div>
						</li>
						<li class="toggle-lev3-item">
							<h3 class="lev-3-title">商务合作</h3>
							<div class="info">我们以开放包容的合作理念、创新专业的商务模式、敬业专注的服务态度、真诚地寻求合作伙伴，共同实现我们事业的美好未来。</div>
						</li>
					</ul>
					<div class="btn">MORE</div>
				</div>
				<img src="../static/public/images/index/lev_3_pic.png" alt="" class="right">
			</div>
		</div>
	</div>
</div>

<!-- footer-nav栏 -->
<div class="footer">
	<div class="center">
		<div class="left">
			<div class="link-box">
				<img src="../static/public/images/commom/link-icon.png" alt="" class="link-icon">
				<div class="sjx-icon"></div>
				<ul class="link-list">
					
						<li class="item">
							<a href=./index.html class = "link">网站首页</a>
						</li>
					
						<li class="item">
							<a href=./about.html class = "link">关于我们</a>
						</li>
					
						<li class="item">
							<a href=./news.html class = "link">新闻动态</a>
						</li>
					
						<li class="item">
							<a href=./about.html?type=4 class = "link">联系我们</a>
						</li>
					
				</ul>
			</div>
			<div class="phone-box">
				<h3 class="title">服务热线:</h3>
				<div class="phone">
					<img src="../static/public/images/commom/phone-icon.png" alt="" class="phone-icon">
					<p class="info">400-602-0019</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="r-left">
				<div class="gz">
					<p class = "gz-info">关注我们：</p>
					<img src="../static/public/images/commom/xcx-icon.png" alt="" class="wb">
					<img src="../static/public/images/commom/gzh-icon.png" alt="" class="wx">
				</div>
				<p class="address">公司地址：深圳市南山区南山街道向南社区南山大道1153号天源大厦A栋408</p>
				<p class="mail">公司邮箱：YTJ@yuntoujing.cn</p>
			</div>
		</div>
	</div>
	<div class="link-info">
		<a class = "info center" href="./a">Copyright©2019 Coordinate Financial Services.All Rights Reserved. 粤ICP备18138710号-1</a>
	</div>
</div>

<!-- 加载的js -->
	
		<script src=../static/js/jquery-3.3.1.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/swiper-3.4.2.jquery.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/index.js type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>
