<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>新闻资讯</title>
		<link rel="stylesheet" href=../static/css/news.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="" id = "logo">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<div class="pic"></div>
<div class="center">
	<div class="commom-header">
	<h3 class="commom-title">新闻资讯</h3>
</div>
	<div class="main">
		<ul class="list">
	
		<li class="item">
			<div class="info">公司新闻</div>
		</li>
	
		<li class="item">
			<div class="info">行业新闻</div>
		</li>
	
</ul>
		<ul class="content">
			<li class="new-item">
	<img src="../static/public/images/news/pic_0.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			我国大数据风险管理不容忽视
			<span class="time">12-10</span>
		</h3>
		<p class="infos">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面，大数据风险管理的重要性和紧迫性日益凸显。对此，我们必须与时俱进，切实重视数据安全问题，从组织管理、规程标准、技术手段等多角度着手进行风险防范，</p>
	</div>
</li>
			<li class="new-item">
	<img src="../static/public/images/news/pic_1.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			大数据应用于农业的十大案例
			<span class="time">10-19</span>
		</h3>
		<p class="infos">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看，大数据正在驱动农业发展路径发生变化，以提高农业效率，保障食品安全，实现农产品优质优价，农业大数据蕴含着巨大的商业价值。</p>
	</div>
</li>
			<li class="new-item">
	<img src="../static/public/images/news/pic_2.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			互联网金融的风控必然以数据为核心
			<span class="time">7-02</span>
		</h3>
		<p class="infos">互联网金融平台的风控应该围绕互联网特性展开，而互联网最大的特性就是数据，也就是大家常说的大数据。真正的互联网金融P2P网贷平台必定是以数据库为核心，继而研究出属于自身的特点、目标定位的商业模式。值得注意的是，数据不仅可以利用在风控端，</p>
	</div>
</li>
			<li class="new-item">
	<img src="../static/public/images/news/pic_3.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			大数据风控在金融领域的应用
			<span class="time">5-26</span>
		</h3>
		<p class="infos">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看，大数据正在驱动农业发展路径发生变化，以提高农业效率，保障食品安全，实现农产品优质优价，农业大数据蕴含着巨大的商业价值。</p>
	</div>
</li>
		</ul>
		<ul class="content">
			<li class="new-item">
	<img src="../static/public/images/news/pic_3.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			大数据风控在金融领域的应用
			<span class="time">5-26</span>
		</h3>
		<p class="infos">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看，大数据正在驱动农业发展路径发生变化，以提高农业效率，保障食品安全，实现农产品优质优价，农业大数据蕴含着巨大的商业价值。</p>
	</div>
</li>
			<li class="new-item">
	<img src="../static/public/images/news/pic_2.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			互联网金融的风控必然以数据为核心
			<span class="time">7-02</span>
		</h3>
		<p class="infos">互联网金融平台的风控应该围绕互联网特性展开，而互联网最大的特性就是数据，也就是大家常说的大数据。真正的互联网金融P2P网贷平台必定是以数据库为核心，继而研究出属于自身的特点、目标定位的商业模式。值得注意的是，数据不仅可以利用在风控端，</p>
	</div>
</li>
			<li class="new-item">
	<img src="../static/public/images/news/pic_1.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			大数据应用于农业的十大案例
			<span class="time">10-19</span>
		</h3>
		<p class="infos">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看，大数据正在驱动农业发展路径发生变化，以提高农业效率，保障食品安全，实现农产品优质优价，农业大数据蕴含着巨大的商业价值。</p>
	</div>
</li>
			<li class="new-item">
	<img src="../static/public/images/news/pic_0.png" alt="" class="item-pic">
	<div class="info">
		<h3 class="info-title">
			我国大数据风险管理不容忽视
			<span class="time">12-10</span>
		</h3>
		<p class="infos">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面，大数据风险管理的重要性和紧迫性日益凸显。对此，我们必须与时俱进，切实重视数据安全问题，从组织管理、规程标准、技术手段等多角度着手进行风险防范，</p>
	</div>
</li>
		</ul>
	</div>
	<div class="fy">
		<ul class="page" id = "page">
			<li class="item active">首页</li>
			<li class="item">上一页</li>
			<li class="item">1</li>
			<li class="item">下一页</li>
		</ul>
	</div>
</div>
<!-- footer-nav栏 -->
<div class="footer">
	<div class="center">
		<div class="left">
			<div class="link-box">
				<img src="../static/public/images/commom/link-icon.png" alt="" class="link-icon">
				<div class="sjx-icon"></div>
				<ul class="link-list">
					
						<li class="item">
							<a href=./index.html class = "link">网站首页</a>
						</li>
					
						<li class="item">
							<a href=./about.html class = "link">关于我们</a>
						</li>
					
						<li class="item">
							<a href=./news.html class = "link">新闻动态</a>
						</li>
					
						<li class="item">
							<a href=./about.html?type=4 class = "link">联系我们</a>
						</li>
					
				</ul>
			</div>
			<div class="phone-box">
				<h3 class="title">服务热线:</h3>
				<div class="phone">
					<img src="../static/public/images/commom/phone-icon.png" alt="" class="phone-icon">
					<p class="info">400-602-0019</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="r-left">
				<div class="gz">
					<p class = "gz-info">关注我们：</p>
					<img src="../static/public/images/commom/xcx-icon.png" alt="" class="wb">
					<img src="../static/public/images/commom/gzh-icon.png" alt="" class="wx">
				</div>
				<p class="address">公司地址：深圳市南山区南山街道向南社区南山大道1153号天源大厦A栋408</p>
				<p class="mail">公司邮箱：YTJ@yuntoujing.cn</p>
			</div>
		</div>
	</div>
	<div class="link-info">
		<a class = "info center" href="./a">Copyright©2019 Coordinate Financial Services.All Rights Reserved. 粤ICP备18138710号-1</a>
	</div>
</div>

<!-- 加载的js -->
	
		<script src=../static/js/jquery-3.3.1.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/swiper-3.4.2.jquery.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/news.js type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>