<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>行业新闻</title>
		<link rel="stylesheet" href=../static/css/news-commom.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="" id = "logo">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<div class="pic">
	<p class="side center">您的位置：<a href="./news.html" class="mark">新闻资讯/行业新闻</a></p>
</div>
<div class="center main">
	<div class="left">
		<img src="../static/public/images/linkNews/hy_0.png" alt="" class="img">
<p class="left-title">大数据风控在金融领域的应用<span class="hint">引自：搜狐财经</span><span class="hint">2018/05/29</span></p>
		<p class="row">毫无疑义的是我们已经进入大数据时代。大数据已在各行各业中广泛应用，不同的业务场景，不同的数据产品，相应的进行分析整理运用。其中金融行业必定是大数据最重要的应用领域之一。今天，小编就跟大家简单谈谈大数据在金融领域的应用。</p>
		<p class="row-title">什么是大数据？</p>
		<p class="row">所谓大数据，是指多个来源和多种格式的大量结构化和非结构化数据，又称巨量资料即数据量要非常庞大，数量稀少则不属于大数据。在实践中，一般至少要有10TB。1TB等于1024GB，比如智能手机32G内存，而在互金行业的巨头企业，大多都已沉淀PB级（1PB约等于105万GB，相当于3.3万个32G的U盘，截止目前，人类生产的所有印刷材料的数据量也不过200PB）的数据量。</p>
		<p class="row">数据源也是多样化的，数据种类和格式丰富，不仅包括结构化数据，还包括半结构化和非结构化数据。意味着，即便数据量很大，但如果局限于单个领域，也不能称之为大数据。因为大数据的一个重要作用就是利用不同来源、不用领域的数据进行非线性地分析，用于预测分析。</p>
		<p class="row">有了大数据，自然就要有大数据技术，即从各种各样类型的巨量数据中，快速获取有价值信息的分析技术，强调响应时效，这是大数据技术与传统数据挖掘技术的重要区别。如上文提到的知识图谱运用的背后计算能力。从巨量数据中提取的有价值信息，即大数据得以在各个领域运用的要素之一，比如基于大数据进行客群的细分，进而提供定制化服务；基于大数据模型，进而对用户精准评分；基于大数据进行产品设计和业务模式迭代，降低业务成本、提升效率等。</p>
		<p class="row-title">金融大数据应用逻辑</p>
		<p class="row">大数据在金融领域的应用，通常是精准营销和大数据风控这两个方面。精准营销不多做解释，基于行为数据去预测用户的偏好和兴趣，继而推荐匹配度较高的产品。大数据风控应用广泛，同时非常重要，目前大数据可以从以下几个方面帮助金融机构风控：</p>
		<p class="row-title1">信贷准入</p>
		<p class="row">在产品设计环节，将信贷用户的基础数据作为重要的准入标准，作为评估信贷用户还款能力和还款意愿的重要辅助数据。比如，关联的社交账号必须是活跃账号，正常使用非死号。放款机构会在本地数据的基础上接入外部数据作为评估信贷用户的重要数据。</p>
		<p class="row-title1">额度授信</p>
		<p class="row">放款机构根据信贷用户提交的数据通过反欺诈模型/信用模型进行评分，分数更高的将能够申请更低利率或更高金额。</p>
		<p class="row-title1">用户画像</p>
		<p class="row">金融机构能够利用大数据的优势，描绘用户画像，清楚用户的消费行为及在网活跃度等，就能有效推断出不同客群的需求以及最终还款行为的相关因素，进行系统的客户管理。</p>
		<p class="row-title1">贷中、贷后监测</p>
		<p class="row">这是大数据风控相对于传统风控的优势之一。对于传统风控模式下的贷中、贷后管理来说，对一笔贷款的追踪和监测需要耗费大量人力、物力；但使用大数据风控可有效降低这部分业务成本。如智能短信还款提醒、机器人资产回收等，对不同类型的客户可定制相应的管理策略，并定期进行策略优化</p>
	</div>
	<div class="right">
		<h3 class="right-title">相关内容</h3>
		<ul id="list" class = "list">
			<li class="item">
				<div class="item-title">我国大数据风险管理不容忽视</div>
				<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面，大数据风险管理。</div>
			</li>
			<li class="item">
				<div class="item-title">大数据应用于农业的十大案例</div>
				<div class="item-info">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看</div>
			</li>
			<li class="item">
				<div class="item-title">互联网金融的风控必然以数据为核心</div>
				<div class="item-info">互联网金融平台的风控应该围绕互联网特性展开，而互联网最大的特性就是数据，也就是大家常说的大数据。</div>
			</li>
			<li class="item">
				<div class="item-title">大数据风控在金融领域的应用</div>
				<div class="item-info">毫无疑义的是我们已经进入大数据时代。大数据已在各行各业中广泛应用，不同的业务场景，不同的数据产品</div>
			</li>
		</ul>
	</div>
</div>
<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/news_hy_0.js" type="text/javascript" charset="utf-8"></script>