<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>行业新闻</title>
		<link rel="stylesheet" href=../static/css/news-commom.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="" id = "logo">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<div class="pic">
	<p class="side center">您的位置：<a href="./news.html" class="mark">新闻资讯/行业新闻</a></p>
</div>
<div class="center main">
	<div class="left">
		<img src="../static/public/images/linkNews/gs_1.png" alt="" class="img">
<p class="left-title">云透镜与海尔集团旗下万链指数签署战略合作协议<span class="hint"></span><span class="hint">2019/03/16</span></p>
		<p class="row">2019年3月，深圳市云透镜科技有限公司与万链指数(青岛)信息科技有限公司签署战略合作协议，双方将在风险管理咨询、客户信用评级、农业金融服务等方面开展深入合作。</p>
		<p class="row">万链指数（青岛）信息科技有限公司隶属海尔集团，专注于海尔生态圈内的企业信用评级，通过整合海尔产业金融的丰富信贷数据以及万链物联网平台累积的动态交易数据等，为终端用户、供应商、经销商、设备商、技术服务商、金融机构等提供信用指数评级服务，从而构筑“万链”价值生态圈，为产业赋能。 </p>
		<p class="row">本次合作除进行企业风险管理咨询、金融科技手段运用外，还拟成立“农业信用融资”项目组，深入农业经营场景，建立一套专业的农业金融产品体系、信贷风险管理、客户信用评级、数据智能分析、供应链融资管控等管理方案。</p>
		<p class="row">2019年3月16日</p>
	</div>
	<div class="right">
		<h3 class="right-title">相关内容</h3>
		<ul id="list" class = "list">
			<li class="item">
				<div class="item-title">山东和美集团供应链金融风控咨询服务项...</div>
				<div class="item-info">2019年1月，云透镜风控专家与金蝶征信合作，为山东和美集团的供应链金融业务提供一系列的信贷操作流程、</div>
			</li>
			<li class="item">
				<div class="item-title">云透镜与海尔集团旗下万链指数签署战略...</div>
				<div class="item-info">2019年3月，深圳市云透镜科技有限公司与万链指数(青岛)信息科技有限公司签署战略合作协议，双方将在风险管理咨</div>
			</li>
			<li class="item">
				<div class="item-title">关于iPhone手机付费购买云透镜小程序...</div>
				<div class="item-info">亲爱的用户，您好！云透镜小程序正式上线，目前只接受安卓手机的购买支付。在苹果（Apple）iOS 系统下，因微信</div>
			</li>
		</ul>
	</div>
</div>
<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/news_gs_0.js" type="text/javascript" charset="utf-8"></script>
