<!-- 头部数据 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>产品中心</title>
		<link rel="stylesheet" href=../static/css/product.css>
	</head>
	<body>

<!-- header-nav栏 -->
<div class="header">
	<div class="center">
		<div class="left">
			<img class ="img" src="../static/public/images/commom/logo.png" alt="" id = "logo">
		</div>
		<ul class="link-list">
			
				<li class="item">
					<a class = "link" href= ./index.html >首页</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./product.html >产品服务</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./case.html >案例中心</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./news.html >新闻资讯</a>
				</li>
			
				<li class="item">
					<a class = "link" href= ./about.html >关于我们</a>
				</li>
			
		</ul>
	</div>
</div>
<div class="animation">
	<div id="one"></div>
	<div id="tow"></div>
	<div id="three"></div>
	<div class="one"></div>
	<div class="pic"></div>
	<div class="center">
		<div class="commom-header">
	<h3 class="commom-title">产品服务</h3>
</div>
		<div class="main" id="main">
			<ul class="list">
	
		<li class="item">
			<div class="info">服务内容</div>
		</li>
	
		<li class="item">
			<div class="info">产品特色</div>
		</li>
	
</ul>
			
			<ul class="content" id="server">
				<li class="item" id ="@@id">
	<img src="../static/public/images/product/server_0.png" alt="" class="item-pic">
	<h3 class="info-title">手机端查询</h3>
	<p class="text">微信关注“云透镜”小程序，随时随地便捷使用企业透镜、智能透镜查询所需信息，获取专业风控意见; 同时，快捷使用证照透镜识别、管理常用证照材料，随身携带一个属于自己的专用数据库。</p>
</li>
				<li class="item" id ="@@id">
	<img src="../static/public/images/product/server_1.png" alt="" class="item-pic">
	<h3 class="info-title">企业套餐服务</h3>
	<p class="text">通过API接口或使用我司云策系统在电脑端查询。根据企业经营情况灵活配置产品套餐，以更优惠的价格、更直观的数据BI、专业透镜师人工咨询，为企业在赊销、投资风险及发票验真、云眼监控等方面提供风险管理工具和建议，为企业随时随地配置一个忠诚专业的风控卫士</p>
</li>
				<li class="item" id ="@@id">
	<img src="../static/public/images/product/server_2.png" alt="" class="item-pic">
	<h3 class="info-title">企业定制化咨询</h3>
	<p class="text">根据企业实际业务需求，由业内资深风控、数据、技术等方面的专家，为企业提供定制化风险管理、数据建模、评分体系等方面的服务，尤其是小微企业经营贷及供应链金融业务。</p>
</li>
			</ul>
			<ul class="content" id="khty">
				<li class="item" id ="@@id">
	<img src="../static/public/images/product/khty_0.png" alt="" class="item-pic">
	<h3 class="info-title">免费体验</h3>
	<p class="text">注册微信小程序即可免费获得透镜分，体验我们的数据风控服务;</p>
</li>
				<li class="item" id ="@@id">
	<img src="../static/public/images/product/khty_1.png" alt="" class="item-pic">
	<h3 class="info-title">分享有奖</h3>
	<p class="text">透镜分不足时，可充值或对外分享云透镜获取透镜分，如对方充值还可获得云币，用于购买透镜分或提现;</p>
</li>
				<li class="item" id ="@@id">
	<img src="../static/public/images/product/khty_2.png" alt="" class="item-pic">
	<h3 class="info-title">人工咨询</h3>
	<p class="text">如对信息庞杂、专业术语的云透镜分析报告不明白，有专业透镜分析师提供人工咨询。</p>
</li>
			</ul>
		</div>
		<div class="fy">
			<ul class="page" id="page">
				<li class="item active">首页</li>
				<li class="item">上一页</li>
				<li class="item">1</li>
				<li class="item">下一页</li>
			</ul>
		</div>
	</div>
</div>
<!-- footer-nav栏 -->
<div class="footer">
	<div class="center">
		<div class="left">
			<div class="link-box">
				<img src="../static/public/images/commom/link-icon.png" alt="" class="link-icon">
				<div class="sjx-icon"></div>
				<ul class="link-list">
					
						<li class="item">
							<a href=./index.html class = "link">网站首页</a>
						</li>
					
						<li class="item">
							<a href=./about.html class = "link">关于我们</a>
						</li>
					
						<li class="item">
							<a href=./news.html class = "link">新闻动态</a>
						</li>
					
						<li class="item">
							<a href=./about.html?type=4 class = "link">联系我们</a>
						</li>
					
				</ul>
			</div>
			<div class="phone-box">
				<h3 class="title">服务热线:</h3>
				<div class="phone">
					<img src="../static/public/images/commom/phone-icon.png" alt="" class="phone-icon">
					<p class="info">400-602-0019</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="r-left">
				<div class="gz">
					<p class = "gz-info">关注我们：</p>
					<img src="../static/public/images/commom/xcx-icon.png" alt="" class="wb">
					<img src="../static/public/images/commom/gzh-icon.png" alt="" class="wx">
				</div>
				<p class="address">公司地址：深圳市南山区南山街道向南社区南山大道1153号天源大厦A栋408</p>
				<p class="mail">公司邮箱：YTJ@yuntoujing.cn</p>
			</div>
		</div>
	</div>
	<div class="link-info">
		<a class = "info center" href="./a">Copyright©2019 Coordinate Financial Services.All Rights Reserved. 粤ICP备18138710号-1</a>
	</div>
</div>

<!-- 加载的js -->
	
		<script src=../static/js/jquery-3.3.1.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/swiper-3.4.2.jquery.min.js type="text/javascript" charset="utf-8"></script>
	
		<script src=../static/js/product.js type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>
