<!-- 头部数据 -->
@@include("../components/commom/c-title.html",{
"title":"关于我们",
"linkSrc" : "../static/css/about.css"
})
<!-- header-nav栏 -->
@@include("../components/commom/header.html",{
"linkArr" : [{
"link":"./index.html",
"name":"首页"
},
{
"link":"./product.html",
"name":"产品服务"
},
{
"link":"./case.html",
"name":"案例中心"
},
{
"link":"./news.html",
"name":"新闻资讯"
},
{
"link":"./about.html",
"name":"关于我们"
}]
})
<div class="animation">
	
	<div class="header-pic"></div>
	<div class="center content" id="main">
		@@include("../components/commom/title.html",{
		"title":"关于我们",
		"hint":"About us"
		})
		<div class="main">
			@@include("../components/commom/list.html",{
			"li_arr" : ["公司简介","团队介绍","商务合作","招聘英才","联系我们"]
			})
			@@include("../components/about-item.html",{
			"imgSrc":"../static/public/images/about/pic_0.png",
			"title":"公司简介",
			"info":"深圳市云透镜科技有限公司致力于为企业及个人在赊销、借贷、投资、招聘、求职等领域提供数据风控服务，以减少社会交易成本，提高社会信用度、透明度。我们的目标是通过“云透镜”成为您身边最可信赖的风控卫士。",
			"type":""
			})
			@@include("../components/about-item.html",{
			"imgSrc":"../static/public/images/about/pic_1.png",
			"title":"团队介绍",
			"info":"我们的团队来自于工商银行、招商银行、阿里巴巴、供应链金融、消费金融等国内知名金融、数据及技术机构，60%以上人员具备8年以上大中型项目贷款、中小企小微经营贷、消费信贷等授信审批经验，且熟悉运营过多个信贷流程系统、风险决策引擎、客户评级模型的开发，是一支专业且充满活力、凝聚力的团队。",
			"type":""
			})
			@@include("../components/about-item.html",{
			"imgSrc":"../static/public/images/about/pic_2.png",
			"title":"商务合作",
			"info":"我们以开放包容的合作理念、创新专业的商务模式、敬业专注的服务态度、真诚地寻求合作伙伴，共同实现我们事业的美好未来。",
			"type":"one",
			"info_1":"项目合作、市场合作、数据合作、技术合作、媒体广告等。如果您有意与我们一起合作共赢，请将合作意向发至我们市场部邮箱",
			"info_2":"market@yuntoujing.cn",
			"info_3":"，并留下您的联系方式，我们会尽快与您联系。"
			})
			@@include("../components/about-item.html",{
			"imgSrc":"../static/public/images/about/pic_3.png",
			"title":"招聘英才",
			"info":"A、诚邀有识之士加盟! 您将与一群快乐、专业的小伙伴们一起，共同收获成长、收获事业、收获成功!",
			"type":"tow",
			"info_1":"B、如果您在信贷风控、系统开发、数据分析、平面设计、自媒体运营、市场商务方面有一技之长，欢迎加入我们!如果您对我们的工作感兴趣，可将简历发送到我们的人力资源邮箱",
			"info_2":"HR@yuntoujing.cn",
			"info_3":""
			})
			<div class="toggle">
				<div class="centers">
					<div class="us">
						<h3 class="us-title">联系我们</h3>
						<ul class="us-list">
							<li class="us-item">联系电话：400-6020019</li>
							<li class="us-item">公司邮箱：YTJ@yuntoujing.cn</li>
							<li class="us-item">官方网站：www.yuntoujing.cn</li>
						</ul>
					</div>
					<div class="img-box-0">
						<img src="../static/public/images/about/pic_5.png" alt="" class="qr">
						<p class="us-hint">微信小程序</p>
					</div>
					<div class="img-box-1">
						<img src="../static/public/images/about/pic_6.png" alt="" class="qr">
						<p class="us-hint">公众号</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="one"></div>



<!-- footer-nav栏 -->
@@include("../components/commom/footer.html",{
"linkArr" : [{
		"link":"./index.html",
		"name":"网站首页"
	},
	{
		"link":"./about.html",
		"name":"关于我们"
	},
	{
		"link":"./news.html",
		"name":"新闻动态"
	},
	{
		"link":"./about.html?type=4",
		"name":"联系我们"
	}],
"linkIcon":"../static/public/images/commom/link-icon.png",
"title" : "服务热线:",
"phone" : "400-602-0019",
"phoneIcon" : "../static/public/images/commom/phone-icon.png",
"gz":"关注我们：",
"wxImg":"../static/public/images/commom/gzh-icon.png",
"wbImg":"../static/public/images/commom/xcx-icon.png",
"address":"公司地址：深圳市南山区南山街道向南社区南山大道1153号天源大厦A栋408",
"mail":"公司邮箱：YTJ@yuntoujing.cn",
"qr":"../static/public/images/commom/qr.png",
"hint":"扫一扫订阅号",
"linkInfo":{
"link":"./a",
"info":"Copyright©2019 Coordinate Financial Services.All Rights Reserved. 粤ICP备18138710号-1"
}
})
<!-- 加载的js -->
@@include("../components/commom/c-footer.html",{
"sArr" : ["../static/js/jquery-3.3.1.min.js","../static/js/swiper-3.4.2.jquery.min.js","../static/js/about.js"]
})
