<!-- 头部数据 -->
@@include("../components/commom/c-title.html",{
"title":"行业新闻",
"linkSrc" : "../static/css/news-commom.css"
})
<!-- header-nav栏 -->
@@include("../components/commom/header.html",{
"linkArr" : [{
"link":"./index.html",
"name":"首页"
},
{
"link":"./product.html",
"name":"产品服务"
},
{
"link":"./case.html",
"name":"案例中心"
},
{
"link":"./news.html",
"name":"新闻资讯"
},
{
"link":"./about.html",
"name":"关于我们"
}]
})
<div class="pic">
	<p class="side center">您的位置：<a href="./news.html" class="mark">新闻资讯/行业新闻</a></p>
</div>
<div class="center main">
	<div class="left">
		@@include("../components/news-i.html",{
			"imgSrc":"../static/public/images/linkNews/hy_2.png",
		"title":"互联网金融的风控必然以数据为核心",
		"hint0":"引自：价值中国",
		"hint1":"2018/05/29"
		})
		<p class="row">互联网金融平台的风控应该围绕互联网特性展开，而互联网最大的特性就是数据，也就是大家常说的大数据。真正的互联网金融P2P网贷平台必定是以数据库为核心，继而研究出属于自身的特点、目标定位的商业模式。值得注意的是，数据不仅可以利用在风控端，还能用于营销等各方面，因此数据运用始终穿梭影响着P2P网贷企业的全流程、全业务。</p>	
		<p class="row">互联网金融平台在上线之初必定要围绕其客户群体量身定做属于自己的数据库。以阿里小贷为例，该平台的风控是由支付宝多年的资金清算系统留下的资金流水作为一定参考，并辅助于淘宝中的客户评级以及物流等多方面数据综合而成的一套属于阿里的风控系统。</p>
		<p class="row">个人认为，只要依托于互联网生存的企业，有能力、有技术也有必要建立属于自己的数据库，互联网金融平台更是如此。如果有了数据库，该如何利用呢?</p>
		<p class="row">某P2P个人网贷平台推出的“魔镜风控体系”，就是基于长久运营而来的用户数据，将这些数据进行有效的分析得出授信以及信用状况。例如，A在平台的投资记录和金额可以判定A的风险承受能力、投资期望、资金流额度情况；投资次数则可以得知此人的资金流运转状况、对互联网的粘合度；A提供的电话通话记录可以知道A的生活习性，是否是夜生活严重，作息不正常等情况；根据A的历史借款目的、借款周期、借款金额、还款状况等问题得出A的信用状况。然后进行比对，按照某个特定的函数计算得到一个模拟的、可行的授信值，再根据数值作进一步评定。</p>
		<p class="row">另外，某专做小微企业贷款的平台则利用上下产业链信息为企业提供所欠缺的金融服务、资产管理服务，以达到平台获取企业真实数据的目的。通过该平台的专业数据分析，得出企业的运营状况，包括资金流转、运营周期、盈利状态、抗风险能力，然后建立模型得出企业的信用状况，进而推算企业的授信额度。</p>
		<p class="row">这些平台都有数据流入端，然后将数据汇总、分析，得出相应的信用评级，然后决定授信额度。毫无疑问，数据对平台运营是至关重要的，同样也是这些平台风控的核心关键所在。一个好的平台必定有一个嵌入到商业模式内部的风控系统，其中数据的存储和运用是重要支撑点，如此才能有效避免风控盲点。</p>
	</div>
	<div class="right">
		<h3 class="right-title">相关内容</h3>
		<ul id="list" class = "list">
			<li class="item">
				<div class="item-title">我国大数据风险管理不容忽视</div>
				<div class="item-info">当前，我国信息化快速发展，人工智能正以前所未有的速度、广度和深度融入经济社会各个方面，大数据风险管理。</div>
			</li>
			<li class="item">
				<div class="item-title">大数据应用于农业的十大案例</div>
				<div class="item-info">基于物联网等技术的应用，农业领域积累了大量的数据，为大数据应用于农业奠定了基础。从国内国际的发展来看</div>
			</li>
			<li class="item">
				<div class="item-title">互联网金融的风控必然以数据为核心</div>
				<div class="item-info">互联网金融平台的风控应该围绕互联网特性展开，而互联网最大的特性就是数据，也就是大家常说的大数据。</div>
			</li>
			<li class="item">
				<div class="item-title">大数据风控在金融领域的应用</div>
				<div class="item-info">毫无疑义的是我们已经进入大数据时代。大数据已在各行各业中广泛应用，不同的业务场景，不同的数据产品</div>
			</li>
		</ul>
	</div>
</div>
<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/news_hy_0.js" type="text/javascript" charset="utf-8"></script>