<!-- 头部数据 -->
@@include("../components/commom/c-title.html",{
"title":"行业新闻",
"linkSrc" : "../static/css/news-commom.css"
})
<!-- header-nav栏 -->
@@include("../components/commom/header.html",{
"linkArr" : [{
"link":"./index.html",
"name":"首页"
},
{
"link":"./product.html",
"name":"产品服务"
},
{
"link":"./case.html",
"name":"案例中心"
},
{
"link":"./news.html",
"name":"新闻资讯"
},
{
"link":"./about.html",
"name":"关于我们"
}]
})
<div class="pic">
	<p class="side center">您的位置：<a href="./news.html" class="mark">新闻资讯/行业新闻</a></p>
</div>
<div class="center main">
	<div class="left">
		@@include("../components/news-i.html",{
		"imgSrc":"../static/public/images/linkNews/gs_2.png",
		"title":"关于iPhone手机付费购买云透镜小程序的通知",
		"hint0":"",
		"hint1":"2019/01/25"
		})
		<p class="row">亲爱的用户，您好！云透镜小程序正式上线，目前只接受安卓手机的购买支付。在苹果（Apple）iOS 系统下，因微信小程序运营规则暂不支持虚拟物品购买，以至iPhone手机支付的受限影响，为解决iPhone手机用户需求，云透镜小程序暂以二维码购买支付方式，满足iPhone手机用户体验并确保正常使用云秀镜各项业务。给您带来不便敬请谅解！</p>
		<p class="row">如有疑问，您可拨打云透镜客服热线：400 602 0019或关注云透镜小程序客户留言。</p>
		<p class="row">云透镜始终以真诚、严谨、专注的态度服务客户，感谢客户的信任与支持。</p>
		<p class="row">附：iPhone手机购买支付二维码</p>
		<p class="row">云透镜运营中心</p>
		<p class="row">2019年1月25日</p>
	</div>
	<div class="right">
		<h3 class="right-title">相关内容</h3>
		<ul id="list" class = "list">
			<li class="item">
				<div class="item-title">山东和美集团供应链金融风控咨询服务项...</div>
				<div class="item-info">2019年1月，云透镜风控专家与金蝶征信合作，为山东和美集团的供应链金融业务提供一系列的信贷操作流程、</div>
			</li>
			<li class="item">
				<div class="item-title">云透镜与海尔集团旗下万链指数签署战略...</div>
				<div class="item-info">2019年3月，深圳市云透镜科技有限公司与万链指数(青岛)信息科技有限公司签署战略合作协议，双方将在风险管理咨</div>
			</li>
			<li class="item">
				<div class="item-title">关于iPhone手机付费购买云透镜小程序...</div>
				<div class="item-info">亲爱的用户，您好！云透镜小程序正式上线，目前只接受安卓手机的购买支付。在苹果（Apple）iOS 系统下，因微信</div>
			</li>
		</ul>
	</div>
</div>
<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/news_gs_0.js" type="text/javascript" charset="utf-8"></script>