<!-- 头部数据 -->
@@include("../components/commom/c-title.html",{
"title":"产品中心",
"linkSrc" : "../static/css/product.css"
})
<!-- header-nav栏 -->
@@include("../components/commom/header.html",{
"linkArr" : [{
"link":"./index.html",
"name":"首页"
},
{
"link":"./product.html",
"name":"产品服务"
},
{
"link":"./case.html",
"name":"案例中心"
},
{
"link":"./news.html",
"name":"新闻资讯"
},
{
"link":"./about.html",
"name":"关于我们"
}]
})
<div class="animation">
	<div class="pic"></div>
	<div class="center">
		@@include("../components/commom/title.html",{
		"title":"产品服务",
		"hint":"Productions & Services"
		})
		<div class="main" id="main">
			@@include("../components/commom/list.html",{
			"li_arr" : ["服务内容","产品特色"]
			})
			<ul class="content" id="khty">
				@@include("../components/product-item.html",{
				"imgSrc":"../static/public/images/product/khty_0.png",
				"title":"免费体验",
				"info":"注册微信小程序即可免费获得透镜分，体验我们的数据风控服务;"
				})
				@@include("../components/product-item.html",{
				"imgSrc":"../static/public/images/product/khty_1.png",
				"title":"分享有奖",
				"info":"透镜分不足时，可充值或对外分享云透镜获取透镜分，如对方充值还可获得云币，用于购买透镜分或提现;"
				})
				@@include("../components/product-item.html",{
				"imgSrc":"../static/public/images/product/khty_2.png",
				"title":"人工咨询",
				"info":"如对信息庞杂、专业术语的云透镜分析报告不明白，有专业透镜分析师提供人工咨询。"
				})
			</ul>
			<ul class="content" id="server">
				@@include("../components/product-item.html",{
				"imgSrc":"../static/public/images/product/server_0.png",
				"title":"手机端查询",
				"info":"微信关注“云透镜”小程序，随时随地便捷使用企业透镜、智能透镜查询所需信息，获取专业风控意见; 同时，快捷使用证照透镜识别、管理常用证照材料，随身携带一个属于自己的专用数据库。"
				})
				@@include("../components/product-item.html",{
				"imgSrc":"../static/public/images/product/server_1.png",
				"title":"企业套餐服务",
				"info":"通过API接口或使用我司云策系统在电脑端查询。根据企业经营情况灵活配置产品套餐，以更优惠的价格、更直观的数据BI、专业透镜师人工咨询，为企业在赊销、投资风险及发票验真、云眼监控等方面提供风险管理工具和建议，为企业随时随地配置一个忠诚专业的风控卫士"
				})
				@@include("../components/product-item.html",{
				"imgSrc":"../static/public/images/product/server_2.png",
				"title":"企业定制化咨询",
				"info":"根据企业实际业务需求，由业内资深风控、数据、技术等方面的专家，为企业提供定制化风险管理、数据建模、评分体系等方面的服务，尤其是小微企业经营贷及供应链金融业务。"
				})
			</ul>
		</div>
		<div class="fy">
			<ul class="page" id="page">
				<li class="item active">首页</li>
				<li class="item">上一页</li>
				<li class="item">1</li>
				<li class="item">下一页</li>
			</ul>
		</div>
	</div>
</div>
<!-- footer-nav栏 -->
@@include("../components/commom/footer.html",{
"linkArr" : [{
"link":"./index.html",
"name":"网站首页"
},
{
"link":"./about.html",
"name":"关于我们"
},
{
"link":"./news.html",
"name":"新闻动态"
},
{
"link":"./about.html?type=4",
"name":"联系我们"
}],
"linkIcon":"../static/public/images/commom/link-icon.png",
"title" : "服务热线:",
"phone" : "400-602-0019",
"phoneIcon" : "../static/public/images/commom/phone-icon.png",
"gz":"关注我们：",
"wxImg":"../static/public/images/commom/gzh-icon.png",
"wbImg":"../static/public/images/commom/xcx-icon.png",
"address":"公司地址：深圳市南山区南山街道向南社区南山大道1153号天源大厦A栋408",
"mail":"公司邮箱：YTJ@yuntoujing.cn",
"qr":"../static/public/images/commom/qr.png",
"hint":"扫一扫订阅号",
"linkInfo":{
"link":"./a",
"info":"Copyright©2019 Coordinate Financial Services.All Rights Reserved. 粤ICP备18138710号-1"
}
})
<!-- 加载的js -->
@@include("../components/commom/c-footer.html",{
"sArr" : ["../static/js/jquery-3.3.1.min.js","../static/js/swiper-3.4.2.jquery.min.js","../static/js/product.js"]
})
