@import "./commom.scss";
.header-pic{
	height:260px;
	background: url("../public/images/about/banner.png") center center no-repeat;
}

.content{
	min-height:746px;
}
.main{
	padding-top:39px;
	overflow: hidden;
	.list{
		float:left;
		.item{
			box-sizing:border-box;
			padding:20px 0;
			@include wh(154px,58px);
			border-bottom:1px solid #e5e5e5;
			&:last-child{
				border:none;
			}
			&.active{
				.info{
					color:#3887DE;
					padding-left:20px;
					border-left:4px solid #3887de;
				}
			}
			.info{
				position:relative;
				padding-left:24px;
				@include ft(18px,1,#494949);
			}
			&:hover{
				.info{
					color:#3887DE;
					padding-left:20px;
					border-left:4px solid #3887de;
				}
			}
		}	
	}
	.toggle{

		display: none;
		float:right;
		overflow: hidden;
		&:last-child{
			margin-right:177px;
			padding-bottom:100px;
		}
		.pic{
			float:left;
			margin-right:32px;
			@include wh(530px,330px);
		}
		.about{
			float: right;
			width:416px;
			.about-title{
				margin:9px 0 17px;
				padding-left:12px;
				@include ft(22px,1,#494949,inherit,600);
				border-left:5px solid #3887de;
			}
			.info{
				@include ft(14px,24px,#838383);
			}
			.info_1{
				margin-top:50px;
				@include ft(14px,24px,#838383);
			}
			.info-link{
				color:#3887DE;
			}
		}
		.pic_us{
			@include wh(976px,330px);
		}
		.centers{
			padding-top:66px;
			overflow: hidden;
			.us{
				float:left;
				@include wh(200px,auto);
				.us-title{
					margin-bottom:23px;
					padding-left:12px;
					@include ft(22px,28px,#494949);
					border-left:5px solid #3887de;
				}
					.us-list{
						@include ft(14px,28px,#838383);
					}
			}
				.img-box-0{
					margin-left:121px;
					float:left;
				}
				.img-box-1{
					margin-left:123px;
					float:left;
				}
				.qr{
					display: block;
					@include wh(112px,112px);
				}
				.us-hint{
					@include ft(14px,34px,#838383,center);
				}
		}
	}
}
.animation{
	animation: myfirst 1s ease;
}
@keyframes myfirst
{
from {margin-top:100px;opacity: 0;}
to {margin-top:0;opacity: 1;}
}
