@import "./commom.scss";
.top-pic{
	height:260px;
	background: url("../public/images/case/banner.png") top center no-repeat;
}
.main{	
	.commom-header{
		border:none;
	}
	.list{
		.case-item{
			padding-top:60px;
			overflow: hidden;
			background:white;
			.item-title{
				margin-bottom:15px;
				padding-left:13px;
				border-left:5px solid #3887de;
				@include ft(18px,28px,#494949);
			}
			.ov{
				overflow: hidden;
				@include ft(14px,30px,#494949);
				.item-pic{
					float:left;
					@include wh(565px,341px);
					padding:0 40px 200px 0;
				}
				.ov-title{
					margin-left:605px;
					margin-bottom:19px;
					padding-left:13px;
					border-left:5px solid #3887de;
					@include ft(18px,28px,#494949);
				}
				.info{
					margin-bottom:10px;
				}
				.b-title{
					font-weight: 600;
				}
			}
			&:nth-child(2n){
				background:#EEEEEE;
				.ov-title{
					margin:0;
					margin-bottom:19px;
					padding-left:13px;
					border-left:5px solid #3887de;
					@include ft(18px,28px,#494949);
				}
				.ov{
					.item-pic{
						float:right;
						padding:0;
						padding:8px 0 200px 40px;
					}
				}
			}
			&:nth-child(2n-1){
				.ov{
					.item-pic{
						padding:8px 40px 200px 0;
					}
				}
				.item-title{
					margin-left:605px;
				}
			}
			&:nth-child(1){
				padding-top:0px;
				height:517px;
			}
			&:nth-child(2){
				height:522px;
			}
			&:nth-child(3){
				height:532px;
			}
			&:nth-child(4){
				height:614px;
			}
			&:nth-child(5){
				height:573px;
			}
		}	
	}
}
.animation{
	animation: myfirst 1s ease;
}
@keyframes myfirst
{
from {margin-top:100px;opacity: 0;}
to {margin-top:0;opacity: 1;}
}