@import "./commom.scss";
@import "./swiper-3.4.2.min.css";
body{
	background: #fff;
}
#banner{
	height:450px;
	.swiper-items{
		height:450px;
	}
	.swiper-slide:nth-child(5n-4) .swiper-items{
		background: url("../public/images/index/banner_4.png") top center no-repeat;
	}
	.swiper-slide:nth-child(5n-3) .swiper-items{
		background: url("../public/images/index/banner_0.png") top center no-repeat;
	}
	.swiper-slide:nth-child(5n-2) .swiper-items{
		background: url("../public/images/index/banner_1.png") top center no-repeat;
	}
	.swiper-slide:nth-child(5n-1) .swiper-items{
		background: url("../public/images/index/banner_2.png") top center no-repeat;
	}
	.swiper-slide:nth-child(5n) .swiper-items{
		background: url("../public/images/index/banner_3.png") top center no-repeat;
	}
	.banner-img{
		position:absolute;
		top:0;
		left:-50%;
		transform: translateX(-50%);
		width:1174px;
		height:450px;
	}
}
.title{
	@include ft(36px,58px,#474747,center);
}
.hint{
	@include ft(20px,1,#c3c3c3,center);
}
.swiper-pagination .swiper-pagination-bullet{
	opacity: .5;
	background:white;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background:#007aff;
}
.lev-0{
	box-sizing: border-box;
	padding-top:56px;
	height:750px;
	.toggle{
		height:130px;
		@include df-ct;
		@include ft(16px,42px,#474747,center);
		.item{
			flex:none;
			width:150px;
			&:nth-child(2){
				position:relative;
				margin:0 8px;
				// background: #3887DE;
				border-radius:3px;
				&::before{
					@include pn(absolute,12px,auto,auto,-3px);
					@include wh(1px,20px);
					content:"";
					background: #E5E5E5;
				}
			}
			&.active{
				color:white;
				background: #3887DE;
				border-radius:3px;
			}
		}
	}
	.a_toggle{
		height:400px;
		display: none;
		justify-content: space-between;
		&.active{
			display: flex;
		}
		.item{
			flex:none;
			width:370px;
			background: white;
			.img-box{
				overflow: hidden;
				@include wh(370px,210px);
				.img{
					display: block;
					@include wh(100%,100%);
				}
			}
			.info{
				position:relative;
				margin:0 19px 0 14px;
				padding:9px 0 23px 0;
				border-bottom:1px solid #E5E5E5;
				.info-title{
					@include ft(22px,40px,#5C5C5C);
				}
				.text{
					@include ft(14px,24px,#797979);
				}
			}
			.btn{
				position:relative;
				margin-top:15px;
				margin-left:19px;
				box-sizing: border-box;
				@include wh(90px,30px);
				@include ft(14px,28px,#c7c7c7,center);
				background: white;
				border:1px solid #e5e5e5;
				border-radius: 15px;
				.btn-text::after{
					// margin-right:13px; 
					content: ">";
					// font-weight:900;
				}
			}
			transition:all .5s linear 0s;
			position:relative;
			&:hover{
				background: #3887DE;
				.img{
					transform: scale(1.1);
				}
				.info{
					left:10px;
					.info-title{
						color:white;
					}
					.text{
						color:white;
					}
				}
				.btn{
					color:#3887DE;
					left:10px;
				}
			}
		}
	}
}
.lev-2,.lev-3{
	box-sizing: border-box;
	padding-top:93px;
}
.lev-1{
	box-sizing:border-box;
	padding-top:60px;
	height:660px;
	background:url("../public/images/index/lev_1_bg.png") top center no-repeat;
	.a_toggle{
		// position: relative;
		margin-top:54px;
		height:310px;
		.item{
			position: relative;
			margin:0 15px;
			box-sizing: border-box;
			// float:left;
			background:white;
			@include wh(370px,auto);
			.link{
				@include pn(absolute,0,0,0,0);
			}
			.img-box{
				@include wh(100%,240px);
				overflow: hidden;
			}
			.img{
				display: block;
				@include wh(100%,100%);
			}
			.info{
				padding-left:23px;
				@include ft(22px,58px,#7c7c7c);
			}
			&:hover{
				border-bottom:8px solid #3887de;
				.img{
					transform: scale(1.1);
				}
			}
		}
	}
}
#ss{
	position: relative;
}
#left{
	@include wh(40px,50px);
	@include pn(absolute,50%,auto,auto,14.5px);
	transform: translateY(-50%);
	background: rgba(0,0,0,.4);
	z-index:9999;
}
#right{
	@include wh(40px,50px);
	@include pn(absolute,50%,0);
	transform: translateY(-50%);
	background: rgba(0,0,0,.4);
	z-index:9999;
}
#left:hover,#right:hover{
	background:rgba(56,135,222,.4);
}
.lev-2{
	box-sizing: border-box;
	padding-top:53px;
	height:784px;
	.toggle{
		height:130px;
		@include df-ct;
		@include ft(16px,42px,#474747,center);
		.item{
			flex:none;
			width:150px;
			&:nth-child(2){
				position:relative;
				margin:0 8px;
				border-radius:3px;
				&::before{
					@include pn(absolute,12px,auto,auto,-3px);
					@include wh(1px,20px);
					content:"";
					background: #E5E5E5;
				}
			}
			&.active{
				color:white;
				background: #3887DE;
				border-radius:3px;
			}
		}
	}
	.ov{
		display: none;
		overflow: hidden;
		&.active{
			display: block;
		}
		.left{
			float:left;
			width:572px;
			.pic-box{
				overflow: hidden;
				margin-bottom:32px;
				@include wh(572px,200px);
				.pic{
					display: block;
					@include wh(100%,100%);
				}				
			}
			.lev_2_title1{
				margin-bottom:-10px;
				padding-left:11px;
				@include ft(18px,1,#494949);
			}
			.lev2-title{
				padding-top:9px;
				@include ft(19px,1,inherit,inherit,400);
			}
			&:hover{
				.pic{
					transform: scale(1.1);
				}
				.lev-2-item{
					.item-info{
						color:#3887de;
					}
				}
			}
		}
			.lev-2-item{
				overflow: hidden;
				.time-box{
					margin:37px 0;
					float:left;
					padding-left:11px;
					padding-right:19px;
					border-right:1px solid #e5e5e5;
					.year{
						@include ft(24px,26px,#444);
					}
					.month{
						margin-top:5px;
						padding-left:2px;
						@include ft(14px,20px,#aaa)
					}
				}
				.item-info{
					float:right;
					width:446px;
					margin:31px 0;
					padding-left:28px;
					@include ft(14px,30px,#838383)
				}
			}
		.right{
			float:right;
			width:512px;
			.lev-2-item{
				padding-bottom:46px;
				border-top:1px solid #e5e5e5;
				border-bottom:1px solid #e5e5e5;
				&:nth-child(2){
					border-top:none;
				}
				.lev2-title{
					padding-top:9px;
					@include ft(19px,67px,inherit,inherit,400);
				}
				.time-box{
					margin:0;
				}
				.item-info{
					float:right;
					width:410px;
					margin:0;
					padding-left:14px;
					@include ft(14px,30px,#838383)
				}
				&:hover{
					.item-info{
						color:#3887de;
					}
				}
			}
		}
	}
	.btn{
		box-sizing:border-box;
		margin:35px auto 0;
		@include wh(630px,43px);
		@include ft(18px,41px,#3887de,center);
		border:1px solid #D7D7D7;
		&:hover{
			color:white;
			background:#3887de;
		}
	}
}
.lev-3{
	height:650px;
	background: url("../public/images/index/lev_3_bg.png") top center no-repeat;
	.title{
		color:white;
	}
	.bg{
		margin-top:42px;
		background: white;
		box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.15);
		.toggle{
			height:130px;
			@include df-ct;
			@include ft(16px,42px,#474747,center);
			.item{
				flex:none;
				width:150px;
				&:nth-child(2){
					position:relative;
					margin:0 8px;
					// background: #3887DE;
					border-radius:3px;
					&::before{
						@include pn(absolute,12px,auto,auto,-3px);
						@include wh(1px,20px);
						content:"";
						background: #E5E5E5;
					}
					&::after{
						@include pn(absolute,12px,-3px);
						@include wh(1px,20px);
						content:"";
						background: #E5E5E5;
					}
				}
				&.active{
					color:white;
					background: #3887DE;
					border-radius:3px;
				}
			}
		}
		.ov{
			overflow: hidden;
			.left{
				float:left;
				box-sizing: border-box;
				padding-left:73px;
				width:845px;
				.toggle-lev3-item{
					display: none;
					&.active{
						display: block;
					}
				}
				.lev-3-title{
					@include ft(24px,1,#3887de);
				}
				.lev-3-hint{
					@include ft(14px,3,#c3c3c3);
				}
				.info{
					margin-top:15px;
					width:691px;
					@include ft(14px,24px,#5f5f5f);
				}
				.btn{
					margin-top:54px;
					box-sizing: border-box;
					@include wh(120px,42px);
					@include ft(14px,40px,#5e5e5e,center);
					border:1px solid #5e5e5e;
					&:hover{
						color:white;
						background:#3887de;
					}
				}
			}
			.right{
				float:right;
				@include wh(325px,272px);
			}
		}
	}
}