@import "./commom.scss";
.pic{
	margin-top:-2px;
	height:260px;
	background: url("../public/images/news/banner.png") top center no-repeat;
}
#one,#tow,#three{
	position:absolute;
}
#one{
	top:568px;
}
#tow{
	top:824px;
}
#three{
	top:1000px;
}
.main{
	overflow: hidden;
	padding-top:34px;
	.list{
		float:left;
		.item{
			box-sizing:border-box;
			padding:20px 0;
			@include wh(154px,58px);
			border-bottom:1px solid #e5e5e5;
			&.active{
				.info{
					color:#3887DE;
					padding-left:20px;
					border-left:4px solid #3887de;
				}
			}
			
			.info{
				position:relative;
				padding-left:24px;
				@include ft(18px,1,#494949);
			}
			&:hover{
				.info{
					color:#3887DE;
					padding-left:20px;
					border-left:4px solid #3887de;
				}
			}
		}	
	}
}
.content{
	display: none;
	margin-left:40px;
	width:980px;
	float:left;
	.new-item{
		box-sizing: border-box;
		padding:40px 10px 40px 0;
		border-bottom:1px solid #e5e5e5;
		overflow: hidden;
		.item-pic{
			overflow: hidden;
			float:left;
			@include wh(266px,175px);
			.item-img{
				display: block;
				@include wh(100%,100%);
			}
		}
		.info{
			margin-left:40px;
			float:left;
			width:637px;
			.info-title{
				@include ft(18px,74px,#494949,inherit,600);
				.time{
					float:right;
					@include ft(37px,74px,#aaa,right,100);
				}
			}
			.infos{
				margin-top:4px;
				@include ft(14px,30px,#838383,inherit,100);
			}
		}
		&:hover{
			.item-img{
				transform:scale(1.1);
			}
			.infos{
				color:#3887de;
			}
		}
	}
}
.fy{
	margin-left:194px;
	height:300px;
}
.animation{
	animation: myfirst 1s ease;
}
@keyframes myfirst
{
from {margin-top:100px;opacity: 0;}
to {margin-top:0;opacity: 1;}
}